body {
	font-family: 'Lato', sans-serif;
	background: #00ffff
}

#quiz {
	margin-left: 10px;
	background: #00ccff;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
}

input {
	margin-bottom: 20px;
	
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}

#button {
	background: #66ff66;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
